
.matrix {
    
}

.matrix .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}


.square {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
}

.square.black {
    background-color: black;
}
.square.green {
    background-color:greenyellow;
}